div.views-field.views-field-field-alumni-image {
  width: 120px;
  float: right;
  margin: 0pt;
  padding: 5px 0pt;
  text-align: center;
}
div.views-field.views-field-title h2 {
  width: 380px;
  float: left;
  margin: 0pt;
  padding: 5px 0pt;
  text-align: left;
}
div.views-field.views-field-field-alumni-degree {
  width: 380px;
  float: left;
  margin: 0pt;
  padding: 5px 0pt;
  text-align: left;
}
div.alumni-publication {
  width: 500px;
  margin: 8px 0pt 0pt;
  padding: 0pt;
}
#site-sidebar #views-exposed-form-book-search-book-search-page .form-select {
  max-width: 212px;
  min-width: 212px;
}
#site-sidebar #views-exposed-form-book-search-book-search-page .form-text {
  max-width: 210px;
  min-width: 210px;
}
